body{
    
}
.bg-light{
    box-shadow: 0px -2px 15px rgba(0, 0, 0, 0.44);
}
.navbar-brand{
    text-align: center;
}
.nav-link{
    color: #000;
    float: left;
}
.nav-link:hover{
    color: #9f6145;
}
.nav{

}
.group-left{
    float: right;
}
.group-right{
    float: left;
}
.content{
    font-family: monospace;
}
.section-title{
    text-align: center;
    margin-top: 45px;
}
