body{
    overflow-x: hidden;
}
.bg-light{
    box-shadow: 0px -2px 15px rgba(0, 0, 0, 0.44);
}
.navbar-brand{
    text-align: center;
}
.nav-link{
    color: #000;
    display: none;
}
.nav-link:hover{
    color: #9f6145;
}
#nav-toggle{
    display: none;
}
.group-left{
    float: right;
}
.group-right{
    float: left;
}
.content{
    text-align: justify;
}
.section-title{
    text-align: center;
    margin-top: 45px;
    /*font-family: monospace;*/
}
.logo{
    -webkit-filter: drop-shadow(1px 1px 2px #000);
    filter: drop-shadow(1px 1px 2px #000);
}
.logo:hover{
    -webkit-filter: drop-shadow(0px 0px 0px #000);
    filter: drop-shadow(0px 0px 0px #000);
}
.team-card{
    margin: 30px;
    padding: 0 !important;
    max-height: fit-content;
}
.sponsors-card{
    margin: 10px;
}
section{
    /*font-family: monospace;*/
}
.hero-image{
    margin-top: 71px;
}
.contact-details{
    margin: 3rem;
}
#contact{
    background-color: #101010;
    color: #fff;
}
#map{
    padding: 1rem;
}
.contact-title{
    background-color: #101010;
    color: #fff;
    margin-bottom: 0px;
    padding-top: 9px;
}
.due-credit{
    width: 100%;
    text-align: center;
}
.hero{
    box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.5686274509803921);
    transform: translate3d(0px, 0px, 0px) scale(1.2, 1.2); 
    transform-origin: 0% 0% 0px;
}